<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_4PosBackOffice.NET.My.MySettings.pricingConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\pricing.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="_4PosBackOffice.NET.My.MySettings.templateConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\template.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="_4PosBackOffice.NET.My.MySettings.templateReportConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\templateReport.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
